HOST=
PORT=

APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
JWT_SECRET=
TRANSFER_TOKEN_SALT=

STORAGE_ACCOUNT=
STORAGE_ACCOUNT_KEY=
STORAGE_URL=
STORAGE_CONTAINER_NAME=
STORAGE_CDN_URL=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SCHEMA=
DATABASE_SSL_SELF=
